### OSX template
*.DS_Store
.AppleDouble
.LSOverride

### Linux template
*~

### Eclipse template
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Eclipse Core
.project
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# JDT-specific (Eclipse Java Development Tools)
.classpath

### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
MANIFEST.MF

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### JetBrains
# Intellij
.idea/
*.iml
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

### Maven
log/
*/target/
.repository/
